* {
    /* margin: 0; */
    box-sizing: border-box;;

}

body {
    background-color: #ccc;
}

h1 {
    color: blue;
    border-bottom: 1px solid black;
}

p {
    font-size: 20px;
    color:blueviolet;
}